<div id="edit-modal">
  <div class="modal-header">
    <h2>Edit Car</h2>
  </div>
  <div class="modal-body">

    <form class="form-horizontal" action="">
      <div class="form-group">
        <label class="col-xs-2 control-label">Make</label>
        <div class="col-xs-9">
          <input type="text" class="form-control" placeholder="Make">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="text-center col-xs-2 control-label">Model</label>
        <div class="col-xs-9">
          <input type="text" class="form-control" placeholder="Model">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-xs-2 control-label">Color</label>
        <div class="col-xs-9">
          <input type="text" class="form-control" placeholder="Color">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-xs-2 control-label">Style</label>
        <div class="col-xs-9">
          <input type="text" class="form-control" placeholder="Style">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-xs-2 control-label">Year</label>
        <div class="col-xs-2">
          <input type="number" class="form-control" placeholder="Year">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-xs-2 control-label">Price</label>
        <div class="col-xs-2">
          <input type="number" class="form-control"  placeholder="Price">
        </div>
      </div>
    </form>
  </div>
</div>
