<div class="row">
  <div class="col-xs-12">

    <!--New Car Button-->

    <button class="btn btn-default" id="add-new-btn" ng-click="edit()">
      <strong>add new car</strong>
    </button>

  </div>
  <div class="clearfix">&nbsp;</div>
  <div class="col-xs-12 col-md-6" ng-repeat="car in cars track by car.id">
    <div class="panel car-container">
      <div class="row btn-row">
        <div class="col-xs-12">

          <!-- Edit/Remove Buttons -->

          <i class="fa fa-pencil-square btn btn-default" ng-click="edit(car, $index)"></i>
          <i class="fa fa-times-circle btn btn-default" ng-click="remove(car, $index)"></i>

        </div>
      </div>
      <div class="row">

        <!-- Car Attribute Fields -->

        <div class="col-xs-4 car-info">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <span class="info-label">Make</span>
              </div>
              <div class="col-xs-12">
                <p>{{car.value.make}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <span class="info-label">Model</span>
              </div>
              <div class="col-xs-12">
                <p>{{car.value.model}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <span class="info-label">Year</span></div>
              <div class="col-xs-12">
                <p>{{car.value.year}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <span class="info-label">Price</span></div>
              <div class="col-xs-12">
                {{car.value.price | currency: "$" : 0}}
              </div>
            </div>
          </div>
        </div>

        <!-- Car Image -->

        <div class="col-xs-8 car-pic">
          <img class="img-responsive" src="/images/car-placeholder.jpg" style="min-height:100%" alt=""/>
        </div>

      </div>
    </div>
    <br/>
  </div>
</div>
